.marginTop {
    margin-top: 25px;
    /* margin-right: -1.0px; */
}
.button {
    
    margin-top: 5px;
}
.register {
    padding-left: 0px;
    margin-top: 10px;
}
.registration{
    padding-top: 0px;
    text-align: center;
}